body{
    background-color: #f0f0f0;
}
#app{
    width: 100%;
    height: 100%;
}
/*html, body{*/
    /*width: 100%;*/
    /*overflow: hidden;*/
/*}*/

/*页面头部的公共样式*/
#home_page{
    width: 100%;
    height: 100%;
    position: relative;
}
#home_page .home_data{
    width: 100%;
    margin: 0 auto;
}
.header{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 111;
    font-family: Microsoft YaHei;
}
/*home首页的样式*/
.header .header-content{
    height: 48px;
    background-color: #88C13E;
}
.wrap-heard .header-Ico{
    width: 100%;
    height: 48px;
    background: url('../img/data-image-png;base….png') no-repeat;
    background-size: 50%;
    background-position: 50%;
}
.wrap-heard .head-typeimg{
    display: block;
    width: 43.98px;
    height: 43.98px;
    float: right;
    position: absolute;
    top:0;
    right: 0;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACgAAAAoCAMAAAC7IEhfAAAAh1BMVEUAAAD///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////9qkf8RAAAALHRSTlMA4yl4B/GrYh8P+rKFLyQF58acfnvWu2peNvXt6d/e2NDOoJlyWUtDPBcUjkxLpL4AAAEgSURBVDjL5dLHcoMwFIVhCdEJHffeS/73f77g0XiMQbZZJKt8K3TmoGEuV/yCq3/9XLLHkQM40dh+2ztI7uThdS0tuHEWDjdFqmNL8iCtOnGBeZXUT0k1B1xdVDQpHbiB0AJXh4Yb/RAK8VBA6AuDHazT5hevYWcajAOnp+QEjmFIZ1i2oiWcu8URbFvRFkbdYglfregLym6xMharbtEDtxW54HWLMczs5znMIBZdsv2+B1IYlJBdGudLBqWpGGSQB49jDll9NDgCq4nQJivg+GLN9gBDL/ZjbwiwN69ZbTylYSPMi3uTRNyFMBJvJCoaLAaRSr5haoke7AFs0j7NONR//zMF4aRXcwiqV9HPc1/8V5bkPWndB/+J6n/jn/gBNys8rIWO1DgAAAAASUVORK5CYII=) no-repeat;
    background-size: 45%;
    background-position: 50%;
}
/*home中的导航显示*/
.menuNavNewProductPanel .menuNavNewProduct{
    width: 100%;
    height: 48px;
    overflow: hidden;
    background-color: white;
}
.menuNavNewProduct .selected{
    border-bottom: 2px solid #80b532;
}
.menuNavNewProduct li{
    width: 80px;
    line-height: 48px;
    text-align: center;
    float: left;
    box-sizing: border-box;
    border-bottom: 2px solid #dddddd;
}
.menuNavNewProduct li a{
    display: block;
    font-size: 0.7rem;
    height: 45.59px;
    color: #333;
}
/*home_body显示*/
.home_body .lfmasklayer{
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.6);
}
.home_body .lf-loading{
    width: 100%;
    margin-top: -39px;
    height: 67px;
    position: fixed;
    top: 50%;
    text-align: center;
    z-index: 999;
}
/*loading加载*/
.lf-loading .lf-circles{
    width: 60px;
    height: 60px;
    font-size: 14px;
    text-align: center;
    line-height: 60px;
    color:#009c42;
    display: inline-block;
    position: relative;
    top: 0;
    border-radius: 60px;
    border: 2px solid #009c42;
    border-top-color: #e4e4e4;
    transform-origin: 50% 50%;
    animation: rotate 1s infinite linear;
    -webkit-animation: rotate 1s infinite linear;
}
/*轮播图*/
.mint-loadmore-top{
    margin-top: 46px;
    text-align: center;
    height: 50px;
    line-height: 50px;
}
.swiper-container{
    position: relative;
    overflow: hidden;
}
.mint-loadmore-top .mint-loadmore-text{
    font-size: 15px;
}
.page-loadmore-wrapper .swiper-wrapper{
    /*待定*/
    width: 700%;
}
.swiper-wrapper .swiper-slide{
    /*待定*/
    width: 375px;
    float: left;
}
.swiper-wrapper .swiper-slide img{
    /*待定*/
    width:375px;
    height: 250px;
}
.mint-loadmore-content .swiper-pagination{
    position: absolute;
    left: 130px;
    bottom: 15px;
}
.mint-loadmore-content .banner{
    display: block;
    width: 8px;
    height: 8px;
    background-color: gainsboro;
    border-radius: 8px;
    float: left;
    margin-left: 8px;
}
/*内容图*/
.mint-loadmore-content .item-combo{
    margin-top: -3px;
    margin-bottom: 13px;
}
.mint-loadmore-content .img-wrap img{
    width: 100%;
}
.home_body .loadingAlert{
    text-align: center;
    padding-bottom: 16px;
}
.home_body .loadingAlert span{
    color: #888;
    font-size: 14px;
    vertical-align: middle;
}
/*home的footer部分*/
#footer{
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 222;
    width: 100%;
}
#footer ul{
    overflow: hidden;
    background-color: #f8f8f8;;
}
#footer li{
    width: 20%;
    float: left;
    text-align: center;
    line-height: 12px;
}
#footer li .ico{
    width: 100%;
    height: 40px;
    background-size: 28%;
    background-position: 50%;
}
#footer li span{
    display: block;
    margin-top: -4px;
    margin-bottom: 6px;
    font-size: 15px;
}
/*footer里面的图标*/
#footermenuNav .homeico{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAVFBMVEUAAAAAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEIAnEJ7h1ASAAAAG3RSTlMA/OnDkCcSCPXaqmsfAePVo4mDeWNQSjcyGgOuh2jLAAAAtUlEQVRIx+3QyRKDIBBFUZuAgvM8vf//z1iWlSIWtrBKFp4lvN7c6GeWJWzfE/UB86LFpi1890mNXZ347eMXDq/YZ59X+Kjy+/0sYBHz3X7U+KJHfp8RTijjcjZwaIrLnCmc0oTLaePz5gaXjCPvJMAQ03k/aLD0cJeTzbtKeJArk5PJ68rJ51UG3oza9gIBhIo6BOkiVSJAqY5Q8LEvn4Pz13PwHIQfEGzEvB4k2T/y4vVPvQFhvn9R6PLAtwAAAABJRU5ErkJggg==) no-repeat;
}
#footermenuNav .typeico{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwBAMAAAClLOS0AAAAIVBMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmYs5FxxAAAACnRSTlMA5Skc3cKxeT0GBVZw6gAAAD5JREFUOMtjGGKA0xKHROPCBuwSXqscGJikVqEDIYZVqxYwsK/CAMsZolYFYNdhJmbAMKzBaOgig9HQHXwAAOIlf0tmWGbNAAAAAElFTkSuQmCC) no-repeat;
}
#footermenuNav .strollico{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACwAAAAsCAMAAAApWqozAAAAWlBMVEUAAABmZWZmZGZnZmZmZWZmZmZoaGhmZmZmZWZmZWZmZWZmZGZmZGZmZGVmZGVmZWVnZ2dmZWVmZGVmZWZnZWZmZGZmZWZmZWZoZ2drZmtvampnZGZmZWZmZGU6sV+kAAAAHXRSTlMA6Kg482oqRYJ4w7av3dS+I9mbj1pu7c0eEQpSYYtFbUIAAAHXSURBVDjLjVXbloMgEBPEVQHxUqu2Nv//m4tVGVBxN08ejCEzk+MkB7zzUhsmRFvzIk1ukXMBD6zLo9R5/DJUV2RZ0SkGC3ktPykA7cN7mT5aALo5c3sBVP3ptAKGk5cSEM+rC58COLx4WNmf60p+rPjjoCtfsbpfMtDugTq5QQ0439OAinSvtCsMjftQOL8R3wJ6GxuQJX8gA9YBjGijitlne2ohN+H5msgZ3TmvNXKYCHGBK8ags5kUKK6JQtdg7rgA+7oIglWtRFXaUw1OqVp4JapAF4DcYy+Q+SqF+5p69PLEvP5zSzRhSjiklxgWZK1OGEqfzJZyG6WW6SrwIGyt9dWHltOFBeUsU9rEgZzZk41MloncBja4Nbba2Dob2qj9AoMK5G6ZCuTgoWUXYhcMal2B6mjZIi0kBYOGEpTBv4WVtYDFabRpaJNBqpXIeEYaNKEOI31NxCNGdGv4891yhOixpEv/50yk7Ms9XJ/kD3xcTzXYdM+dGPT22Aww7zvu22BoPPf6jqypBxZPy35HdS33GaYEZor4NfTLJW3WX3F7RrrU9QEY89PpSGvCR6MByLLxTkpJC+iIVMLC2M02z3a3mevVRrd27J9Lc489r9vIOv4FXQsplico/ngAAAAASUVORK5CYII=) no-repeat;
}
#footermenuNav .shoppingcartico{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAe1BMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmY+mZAPAAAAKHRSTlMA+3P1BtcJxo94OjQZ7uTfzpopHsCuoWVOI724sqZsVkpBEQ+Efi5g8YO1+gAAAU5JREFUSMfVldduwzAMRSV5zwxnz2a15/+/sEWNGnVCxtFjziPBKwHivZR5U5ylpZ6+1B9W/JG9JMjB74YrTIwPY1j59DdgLz6CJWyMDztwPv1xAL3HSS1DjHonWAZJe4KEQT56ggzmRmcKQShUVNzjeaP2ToUNLO9K6TOrXCw0d7UT1KrgCGPJ7p+aYAHXh+Iebpqghly6NlH6C6gen/BsoZQFN1gI5Rks1ewc5eHsxP7SYs9CfQ1BLAm+YGYkIiW1c22xpChoE8r17Ki5FfFdSNEzH6uP58EBtkalvDNH3MRbOGgL3dWINIpgjkykb0+CQJpCqHpyEoaTLo0rqApTVOqat3D5iQXYblWlrWEyWRDA+vcfCDq7L9o8O1mwhaQoEth01rJufbCQy4ITtJy6CLbMnn/E1nVTjACISqNR7KNo/+/+2CWjJIvNW/ANvhZIo9s5gpsAAAAASUVORK5CYII=) no-repeat;
}
#footermenuNav .accountcenterico{
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAADAAAAAwCAMAAABg3Am1AAAAe1BMVEUAAABmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmZmY+mZAPAAAAKHRSTlMA+wav9lASw3wlH7mTioUM3ta+oHHQtBw3MBbw6+bJmVlIQXhhX2piwz4+bgAAAbZJREFUSMetlNmWmzAQRBG7DWN28L7P5P7/F0YEx2DLDeSc3CdT7pJaUp+y/gv2tYyLuLza88qX8Y6OXbycsXro0uOGU7skEZr0VH6XpxRNlIyvnwPV5fF1qYB8dI8T8GX3/i/gNFJ/BcIXJQSusuEIzpvkwFGsX4Navl+ygrVk0B0XhljoU0mGADxD9CCQDHtoDLGBvWQABFVAgW2+JSjJcICFIS7gIBkiuBviHSLJcIPcEHO4GaLxSOJjmnOQJa/jnrXTIrJwobaHV1SDu7BkfoCg6R8tAH6sMWL0kqtld6SV3pDYGidUaLLaqTM0KrQmaByGOM14+cZRvKKcjVy+LbqaqgjLsgyLSv35LHyh/rJHk9/7//1fAZrD5fNx0dSb9yYjQN2ECz14lonXbrwy5BUQbD8fLfjg+AYcW8pPBzgbQxTZcoJG7yMVdGMq4qcQvDakNtYYazVsyk77sBoJudQeZNXOnzD4u0HKRd2tTW5R/zUrWE4aFqAebZzbRJ/m+OwpbjuaZvW8mby1TuM9Uys1ElI6RNr9ciGZYUjAHc1zOfcrqlmGjOzxDp4/y7A9b61/5zcPhTVGJpPASwAAAABJRU5ErkJggg==) no-repeat;
}
/*首页中的广告*/
.download0207{
    width: 100%;
    height: 65px;
    background: url(http://i1.lifevccdn.com/images/aboutLifeVC/downloadBottom.png) no-repeat;
    background-position: 0 0;
    background-size: 100%;
    position: fixed;
    left: 0;
    bottom: 54px;
    z-index: 50;
}
.download0207 img{
    width: 15.5%;
    position: absolute;
    left: 4.9%;
    top: -42px;
}



/*全部产品的样式*/
.header-content .header-title{
    line-height: 48px;
    font-size: .8rem;
    color: #fff;
    text-align: center;
}
.search-panel{
    padding: 6px 12px;
    background-color: #f0f0f0;
}
.search-panel .searchinput{
    width: 100%;
    height: 36px;
    border-radius: 6px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAjVBMVEUAAACSkpKTk5OTk5ORkZGSkpKEhISTk5ORkZGTk5OSkpKRkZGRkZGRkZGSkpKRkZGTk5OTk5ORkZGTk5OSkpKSkpKSkpKTk5ORkZGRkZGRkZGSkpKPj4+UlJSUlJSQkJCSkpKRkZGSkpKRkZGQkJCWlpaRkZGSkpKWlpaTk5OSkpKSkpKRkZGenp6YmJhw30CvAAAALXRSTlMAxbmZWg0FdiT6ybROvKKNUjMpFd7az7+rVkhCEO7Tyn5jXzwvGfqWjYBsNhx4c16/AAAA0ElEQVQ4y82R2Q6CMBBFKVVa24IIsskO4i7//3kaYpSZEo0vxvPEzRya6a3xV3hMmtKmiTU99mnh1GmrKiHcqfmqcPjjswmW+pyvT69wKTXDio7j2K0VEmYEbpYImC2C9yIKXrDMkMAoiBvTQKQRFBzt1hIKMRbONogtwfUmEtYcekhwGMwUVdcFHDe9xT8gWDhuosm5gdmHq2evVd/LuWaw4DAo/ozYbHc1dcOjgsSxLUh9f7zFYGD81HXVsC00MF8Y2Scjen+GyikSMNz4ETeZVQrjcGuzcAAAAABJRU5ErkJggg==) no-repeat;
    background-size: auto 70%;
    background-position: 33% 7px;
    background-color: #fff;
    font-size: 18px;
    font-family: Microsoft YaHei;
    text-align: center;
    outline: none;
}
/*input字体的样式*/
.sch-cancel{
    height: 36px;
    font-size: 16px;
    font-family: Microsoft YaHei;
    color: #009c42;
    background-color: transparent;
    float: right;
}
.changeStyle:focus{
    width: 88%;
    height: 36px;
    border-radius: 6px;
    background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAACAAAAAgCAMAAABEpIrGAAAAjVBMVEUAAACSkpKTk5OTk5ORkZGSkpKEhISTk5ORkZGTk5OSkpKRkZGRkZGRkZGSkpKRkZGTk5OTk5ORkZGTk5OSkpKSkpKSkpKTk5ORkZGRkZGRkZGSkpKPj4+UlJSUlJSQkJCSkpKRkZGSkpKRkZGQkJCWlpaRkZGSkpKWlpaTk5OSkpKSkpKRkZGenp6YmJhw30CvAAAALXRSTlMAxbmZWg0FdiT6ybROvKKNUjMpFd7az7+rVkhCEO7Tyn5jXzwvGfqWjYBsNhx4c16/AAAA0ElEQVQ4y82R2Q6CMBBFKVVa24IIsskO4i7//3kaYpSZEo0vxvPEzRya6a3xV3hMmtKmiTU99mnh1GmrKiHcqfmqcPjjswmW+pyvT69wKTXDio7j2K0VEmYEbpYImC2C9yIKXrDMkMAoiBvTQKQRFBzt1hIKMRbONogtwfUmEtYcekhwGMwUVdcFHDe9xT8gWDhuosm5gdmHq2evVd/LuWaw4DAo/ozYbHc1dcOjgsSxLUh9f7zFYGD81HXVsC00MF8Y2Scjen+GyikSMNz4ETeZVQrjcGuzcAAAAABJRU5ErkJggg==) no-repeat;
    background-size: auto 70%;
    background-position: 7px 7px;
    background-color: #fff;
    font-size: 18px;
    text-align: left;
    padding-left: 32px;
    font-family: Microsoft YaHei;
    outline: none;
}
/*所有物品的列表*/
.content-wrap{
    width: 100%;
    position: absolute;
    top:96px;
}
.life-goodsBox{
    margin-top: 24px;
}
.life-goodsAll .life-goodsTip .life-goodsMark{
    text-align: center;
    line-height: 32px;
    padding-bottom: 4px;
    font-size: 20px;
    font-family: Microsoft YaHei;
}
.life-goodsUl{
    width: 100%;
    overflow: hidden;
    background-color: #fff;
}
.life-goodsUl li{
    width: 33%;
    float: left;
    text-align: center;
    border: 1px solid #f0f0f0;
    margin: 0 0 -1px -1px ;
}
.life-goodsUl li img{
    width: 60%;
    padding-top: 23px;
}
.life-goodsUl li p{
    font-size: 15px;
    left: 42px;
    font-family: Microsoft YaHei;
    padding-bottom: 23px;
}


/*闲逛的样式*/





