html, body
  width 100%
  overflow hidden

/*闲逛的样式*/
.mint-loadmore-top
  line-height 48px
.clearFix
  background-color #ffffff
  overflow hidden
  font-family 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback'
  .stroll-all-item
    width 50%
    float left
    .stroll-item
      width 172px
      margin 5px 7px
      .menu_a, .menu_b
        font-size 16px
        display inline-block
        text-align center
        background-color #eaeaea
        width 47.5%
        border-radius 8px
        line-height 58px
      .stroll-item-layer
        position relative
        img
          width 172px
          border-radius 8px
          vertical-align middle
        .tag-new
          position absolute
          top 8px
          left 0
          z-index 8
          display inline-block
          font-size 13px
          width 40px
          text-align center
          line-height 16px
          background-color #79da87
          color #ffffff
          max-width 94%
          font-family 'Microsoft YaHei', arial, sans-serif, 'Droid Sans Fallback'
      .stroll-item-title
        white-space nowrap
        overflow hidden
        text-overflow ellipsis
        margin 5px 0
        color black
        font-size 16px
      .stroll-price-bar
        margin-top -5px
        position relative
        .price
          color #ff475d
          font-size 16px
        .comment
          position absolute
          right 0
          bottom 5px
          color #999
          font-size 15px

/*购物车的样式*/
.shopcart
  font-family 'Microsoft YaHei'
  .btn-back
    position absolute
    top 7px
    left 0
    display block
    width 27px;
    height 32px;
    background url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABQAAAAeAQMAAAAW3KwoAAAABlBMVEUAAAD///+l2Z/dAAAAAXRSTlMAQObYZgAAADZJREFUCNdjYGA4wMDACMTMDQwM7EAuHxDLALEFEBcA8QMc0lAsAxYDyYHUgNSC9ID04lNwAACHIArVHBwTzAAAAABJRU5ErkJggg==") no-repeat
    background-size 31px 37px;
    background-position 12px 0;
  .header-login
    width 100%
    position relative
    height 51px
    background-color #f0fae6
    .btn-login
      width 18%
      height 33px
      display inline-block
      font-size 15px
      text-align center
      line-height 33px
      color #88c13e
      border .08rem solid #8bc146
      background-color #ffffff
      position absolute
      top 8px
      left 10px
    .login-tip
      overflow hidden
      width 72%
      display table-cell
      font-size 14px
      line-height 18px
      position absolute
      right 8px
      top 8px
  /*下拉刷新*/
  .mint-loadmore-top
    margin-top 49px
    .mint-loadmore-text
      display inline-block
      height 50px
  .header-exchange-wrap
    width 100%
    height 52.5px
    position relative
    background-color #ffffff
    font-size 0
    .header-exchange
      padding-top 8px
      .exch-ipt
        padding-left 10px
        margin 0 14px
        outline none
        display inline-block
        text-align left
        width 68%
        line-height 35px
        font-size 13px
        border: .08rem solid #e7e7e7
      .exch-btn
        outline none
        font-size 13px
        line-height 33px
        display inline-block
        width 20%
        background-color #fff
        border: 1px solid #6fbd00
        color: #6fbd00
        position absolute
        right 18px
        top 9px
  #wrap-nodata
    position relative
    text-align center
    .carts-img
      width 100%
      margin-left 20px
      padding-top 8px
      img
        max-width 160px
        vertical-align middle
     .carts-text
       width 100%
       p
         font-size 18px
         line-height 27px
         color: rgb(102, 102, 102)
         font-family 'Microsoft YaHei'
     .carts-link
       margin-top 8px
       a
         display inline-block
         font-size 16px
         letter-spacing 1px
         padding 0 10px
         line-height 32px
         color: rgb(137, 190, 72)
         border: 1px solid rgb(137, 190, 72)
         border-radius 5px
     .wrap-cart-assem
       position fixed
       bottom 55px
       .cart-assem-title
         margin-top 10px
         text-align left
         width 100%
         background-color #ffffff
         border-bottom 1px solid #ccc
         p
           margin-left 10px
           font-size 16px
           line-height 44px
           color: #333

       .cart-assem-list
         text-align left
         background-color #ffffff
         width 100%
         padding 15px 0 8px
         ul
          width 2000px
         .cart-assem-item
           display inline-block
           margin-left 5px
           width 96px
           img
             width 96px
           .title, .price
             overflow hidden
             text-overflow ellipsis
             white-space nowrap
             font-size 12px
             line-height 23px
             color: #333
             width 100%


/*账户中心的样式*/
.center
  font-family 'Microsoft YaHei'
  .header
    position relative
    span
      font-size 18px
      color #ffffff
      position absolute
      right 13px;
      top 16px;
  .mint-loadmore
    .mint-loadmore-content
      .mint-loadmore-top
        margin-top -46px
      .acct-user-wrap
        margin-top -2px
        height 108px
        background url(http://i1.lifevccdn.com/images/h5/core/background.png)
        background-size 100% 100%
        .acct-nolog
          text-align center
          .state
            font-size 18px
            display block
            color #222
            line-height 36px
          .btn-entry
            margin-top 3px
            display inline-block
            padding 0 10px
            border 1px solid #009c42
            border-radius 20px
            line-height 33px
            .font-large
              line-height 36px
              padding 0 6px
              font-size 18px
              color #009c42
            .split
              display inline-block
              width 1px
              height 16px
              border-left: 1px solid #009c42


      .dashboard-order
        ul
          width 100%
          li
            .item-ico

